{% extends 'app/base.html' %}
{% load static %}
{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}
{%block contenido %}
<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/banner1.png'%}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner2.png'%}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/banner3.png'%}" alt="">
    </div>
</div>
{% load humanize %}
<h2>Productos</h2>
<div class="productos">
    {% for i in productos %}
<div class="producto">

    <div class="contenedor_producto">
        {% if i.imagen %}
        <img src="{{i.imagen.url}}" alt="imagen producto">
        {% endif %}
        <div class="detalle">
            <h5>{{i.marca | capfirst}} </h5>
            <h2>{{i.nombre | title}} </h2>
            <h3>${{i.precio | intcomma}} </h3>
        </div>

    </div>

</div>
{% endfor %}
</div>

{% endblock %}